body {
  margin: 0px;
  padding: 0px;
}

.usernav {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    flex-basis:103px;
}

.navmenu {
	display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}

.menuleft {
	margin-right:250px;
}

.dropdown-menu {
	display: none;
}

.promoslider {
  display: flex;
  flex-direction: column;
}

.slide {
  display: flex;
  flex-direction: row;
}

.mainline {
  border-top:2px solid black;
}

.block3 {
	display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-size: 8px;
}

.sliderinfo {
	display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.sliderinfo ul {
	display:flex;
    flex-direction:column;
    justify-content:center;
}

.sliderinfo ul li {
	display:flex;
    flex-direction:row;
    justify-content:center;
}

.reklama {
	display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.aboutme {
	display:flex;
    flex-direction:row;
    justify-content:center;
}

.footerstart {
	display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.footerlast {
	display: flex;
	flex-direction: row;
}

.footerlast ul {
	display: flex;
	flex-direction: row;
}

/*body {
	background: white;
	width: 100%
	margin: 0px;
	padding: 0px;
}

.wrapper {
	padding-left: 10%;
	padding-right: 10%;
}

.dropdown-menu {
	display: none;
}

.usernav {
	display: flex;
	justify-content: center;
}

.menuleft {
	margin-right: 50%;
}

.menuright {
	margin-right: 10%;
}

.navmenu {
	display: flex;
}

.alogo {
	margin-right: 10%;
}

.atele {
	margin-right: 10%;
}

.block3 {
	display: flex;
	justify-content: space-between;
}

.block3 li {
	width: 150px;
}

.mainfooter {
	background: #c3c3c3;
	width: 100%;
}

.mainheader {
	background: linear-gradient(yellowgreen 15%, green 15%, green 90%);
	width: 100%;
	margin-bottom: 0px;	
}

.logo { 
	height:41px; 
	width:198px;
}	

.mainfilter {
	background: gray;
}

.promoslider {
	background: orange;

}

.slide {
	display: flex;
}

.logo { 
	height:41px; 
	width:198px;
}

.maincatalogavailable {

}

.sliderimg1 {
	height: 150px;
	width: 263px;
}

.maincatalogeimg {

}

.maincatalog-number {
	width: 20px;
	background-color: transparent;
	border:solid 0px;
}

.maincatalog-plus {

}

.maincatalog-minus {

}

.maincatalog-price {
	color: orange;
}

.maincatalog-basket {
	background: orange;
}

.maincatalog-rub {
	font-weight: bold;
}

.maincatalog-next-back {
	border-radius: 10px;
}

/* Теги */

a {
	text-decoration: none;
	color: black;
}

/*img	{

}

main {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 0px;
}*/

li {
	list-style-type: none;
}

/*<!-- article \ section \ nav \ header \ main \ footer \ div \ span -->*/
