body {
	background: white;
	margin: 0px;
	padding: 0px;
}

.mainfooter {
	background: #c3c3c3;
	height: 350px;
	width: 100%;
}

.mainheader {
	background: #c3c3c3;
	width: 100%;
}

.logo { 
	height:41px; 
	width:198px;
}	

.mainfilter {
	background: gray;
}

.promoslider {
	background: orange;
}

/* Дополнительно */

.logo { 
	height:41px; 
	width:198px;
}

.maincatalogavailable {

}

.sliderimg1 {
	height: 150px;
	width: 263px;
}

.maincatalogeimg {

}

.maincatalog-number {
	width: 20px;
}

.maincatalog-plus {

}

.maincatalog-minus {

}

.maincatalog-price {
	color: orange;
}

.maincatalog-basket {
	background: orange;
}

.maincatalog-rub {
	font-weight: bold;
}

.maincatalog-next-back {
	border-radius: 10px;
}

/* Теги */

a {
	text-decoration: none;
	color: black;
}

img	{

}

<!-- article \ section \ nav \ header \ main \ footer \ div \ span -->
